<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management Dashboard</title>
    <link rel="stylesheet" href="style/index.css">
</head>
<body onload="checkToken()">

    <div class="container">
        <h1>User Management Dashboard</h1>
        <p>Manage users, view records and add new users and Perform some Operations.</p>
        <button onclick="logOut()">Logout</button>
        
        <div class="cards">

            <div class="card">
                <h2>👥 User Data</h2>
                <p>View all registered users.</p>
                <a href="operation.html" onclick="savePage('User Data')">
                    Open
                </a>
            </div>

            <div class="card">
                <h2>➕ Add User</h2>
                <p>Register a new user.</p>
                <a href="register.html" onclick="savePage('Add User')">
                    Open
                </a>
            </div>

            <div class="card">
                <h2>📋 Visit History</h2>
                <ul id="history"></ul>
                <button onclick="removeHistory()">
                    Clear History
                </button>
            </div>
            <div class="card">
                <h2>Page Visit Count</h2>
                <h1 id="counter">1</h1>
                <button onclick="restartCount()">
                    Restart Counter
                </button>
            </div>
            <div class="card">
                <h2> Stationery Products</h2>
                <p>Buy Stationery products</p>
                <a href="products.html" onclick="savePage('Stationery Shopping Products')">
                    Open
                </a>
            </div>
        </div>
    </div>

    <script src="js/script.js"></script>
    <script src="js/visitedPages.js"></script>
    <script>savePageVisit("MainPage");</script>
    <script src="js/count.js"></script>
    <script src="js/createUser.js"></script>

</body>
</html>