<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="style/shopping.css">
</head>
<body>

<h1>Student Stationery Shop</h1>
<div><a href="addProduct.html">
<button id="additem" >Add Item</button>
</a>
    
</div>
<p>🛒 Cart Items: <span id="cartCount">0</span></p>


<h2>🧺 Cart</h2>
<h2>Products</h2>
<div id="productContainer"></div>

<script src="js/product.js"></script>
<script src="js/visitedPages.js"></script>
<script>savePageVisit("Shopping Cart")</script>
</body>
</html>