<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
    <link rel="stylesheet" href="style/update.css">
</head>
<body>
    <center>
        <h1>Update Data</h1>
    </center>
    <form id="userForm" method="post">
            <div>
                <label>Full Name</label><br>
                <input type="text" id="name" placeholder="Name" >
            </div>
             <div>
                <label>Email</label><br>
                <input type="email" id="email" placeholder="Email">
            </div>
             <div>
                <label>Contact Number</label><br>
                <input type="text" id="phone" placeholder="Phone" >
            </div><br><br>
            <button id="updateUser" type="submit" onclick="userUpdate()">Update</button>
        </form>
        <a href="index.html">data</a>   
        <script src="js/script.js"></script>
</body>
</html>